:root {
  --sas-typography__h1: bold 28px/29px "SF ProDisplay", sans-serif;
  --sas-typography__text: normal 20px/20px "SF ProDisplay", sans-serif;
  --sas-typography__caption: normal 14px/14px "SF ProDisplay", sans-serif;
  --sas-typography__number-tab: normal 14px/14px "SF ProDisplay", sans-serif;
}
